.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-list {
  list-style: none;
  padding: 10px;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 5px;
  cursor: pointer;

  div {
    max-width: 75px;

    img {
      width: 100%;

      &.background {
        background-color: #eee5fe;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }

  li {
    // max-width: 90px;
  }
}
