.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 22px;
  width: 70%;
  height: 90vh;
  max-width: 350px;
}

.title {
  color: #333;
  font-size: 25px;
  font-weight: bold;
  padding: 30px 0;
  text-align: center;
}

.register-input {
  width: 300px;
  padding: 11px 0;
}

.register-password {
  display: flex;
  align-items: center;
}
.register-input-email,
.register-input-name,
.register-input-pass,
.register-input-passagain {
  // width: 100%;
  // height: 40px;
  // border-radius: 13px;
  // border: none;
  // outline: none;
  // padding-left: 24px;
  // background-color: var(--bg-input);
  color: #a0a3bd;
  font-size: 17px;

  &::placeholder {
    color: #a0a3bd;
    font-weight: 300;
  }
}

.register-input-pass,
.register-input-passagain {
  width: 84%;
}

.hidden-password,
.hide {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: var(--bg-eye);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.hide {
  background-color: #d9dbe9;
}
.btn-register {
  margin-top: 60px;
}

.error-message {
  color: var(--error-message);
  font-size: 11px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  user-select: none;
}

.border-error {
  color: #a0a3bd;
  font-size: 17px;
  border: 1px solid var(--error-message);

  &::placeholder {
    color: #a0a3bd;
    font-weight: 300;
  }
}

.register-text {
  padding: 30px 0;

  span {
    font-size: 15px;
    color: #4e4b66;
    font-weight: 500;
    letter-spacing: 1px;

    .text-color {
      font-weight: 300;
      color: #1890ff;
      margin-left: 5px;
    }
  }
}
