* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white: #fff;
  --primay-color: #4666d5;
  --btn-google: #eff0f7;
  --error-message: #ff4c4d;
  --back-text: #6e7191;
  --bg-input: #eff0f7;
  --bg-eye: #3d40c6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  text-rendering: optimizespeed;
  text-decoration: none;
}

// Fonts emmbeded
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../../assets/fonts/SVN-Gilroy-Regular.6b1bcdc2.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../../assets/fonts/SVN-Gilroy-Medium.bc38048a.otf");
  font-weight: 500;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}
